---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>

  {% include read-time.html %}

  <div id="table-of-contents">
    {{ content | toc_only }}
  </div>

  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ post.url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>

{% if page.comments %}
<iframe src="https://commentary.ilyabylich.me/commentary/index?post_id={{ page.slug }}" frameborder="0" scrolling="no"
  width="100%">
</iframe>

<script type="text/javascript">
  window.addEventListener("message", ({ data }) => {
    if (data.type === "resize") {
      document.querySelector("iframe").style.height = `${data.height}px`;
    }
  })
</script>
{% endif %}